    body, html {height: 100%;}

    /*html {
        overflow:hidden !important;
    }
*/
    .overflowhidden {
        overflow-y : hidden !important;
    }

    #icons-list {
        display: grid;
        grid-template-columns: repeat(9, auto);
        grid-template-rows: repeat(2, auto);
        grid-gap: 0.5rem 0.5rem;
    }

    #icons-list i {
        font-size: 4em;
    }

    #icons-list div {
        width: 10em;
        height: 10em;
        text-align: center;
    }

    #icons-list div:hover {
        cursor: pointer !important;
    }

    ul#icons-list {
        margin: 0;
        padding: 0;
    }

    ul#icons-list li {
        padding: 0.4em;
        align-self: start;
    }

    ul#icons-list {
        list-style-type: none;
    }

    ul#icons-list li {
        display:inline;
    }

    .font-12 {
        width: 100% !important;
        font-size: small;
        padding: 0.5em;
    }

    @media screen and (max-width: 80em) {
        #icons-list {
            grid-template-columns: repeat(9, auto);
            grid-template-rows: repeat(2, auto);
        }

        #icons-list i {
            font-size: 4em;
        }

        #icons-list div {
            width: 8em;
            height: 8em;
            text-align: center;
        }

        .font-12 {
            width: 100% !important;
            font-size: x-small;
            padding: 0.3em;
        }
    }

    @media screen and (max-width: 75em) {
        #icons-list {
            grid-template-columns: repeat(9, auto);
            grid-template-rows: repeat(2, auto);
        }

        #icons-list i {
            font-size: 4em;
        }

        #icons-list div {
            width: 8em;
            height: em;
        }

        .font-12 {
            width: 100% !important;
            font-size: x-small;
            padding: 0.2em;
        }
    }

    @media screen and (max-width: 70em) {
        #icons-list {
            grid-template-columns: repeat(9, auto);
            grid-template-rows: repeat(2, auto);
        }

        #icons-list i {
            font-size: 4em;
        }

        #icons-list div {
            width: 8em;
            height: 8em;
        }

        .font-12 {
            width: 100% !important;
            font-size: x-small;
            padding: 0.2em;
        }
    }

    @media screen and (max-width: 65em) {
        #icons-list {
            grid-template-columns: repeat(8, auto);
            grid-template-rows: repeat(2, auto);
        }

        #icons-list i {
            font-size: 4em;
        }

        #icons-list div {
            width: 8em;
            height: 8em;
        }

        .font-12 {
            width: 100% !important;
            font-size: x-small;
            padding: 0.2em;
        }
    }

    @media screen and (max-width: 60em) {
        #icons-list {
            grid-template-columns: repeat(7, auto);
            grid-template-rows: repeat(2, auto);
        }

        #icons-list i {
            font-size: 4em;
        }

        #icons-list div {
            width: 8em;
            height: 8em;
        }

        .font-12 {
            width: 100% !important;
            font-size: x-small;
            padding: 0.2em;
        }
    }

    @media screen and (max-width: 55em) {
        #icons-list {
            grid-template-columns: repeat(6, auto);
            grid-template-rows: repeat(2, auto);
        }

        #icons-list i {
            font-size: 4em;
        }

        #icons-list div {
            width: 8em;
            height: 8em;
        }

        .font-12 {
            width: 100% !important;
            font-size: x-small;
            padding: 0.2em;
        }
    }

    @media screen and (max-width: 50em) {
        #icons-list {
            grid-template-columns: repeat(6, auto);
            grid-template-rows: repeat(2, auto);
        }

        #icons-list i {
            font-size: 4em;
        }

        #icons-list div {
            width: 8em;
            height: 8em;
        }

        .font-12 {
            width: 100% !important;
            font-size: x-small;
            padding: 0.2em;
        }
    }

    @media screen and (max-width: 45em) {
        #icons-list {
            grid-template-columns: repeat(6, auto);
            grid-template-rows: repeat(2, auto);
        }

        #icons-list i {
            font-size: 3em;
        }

        #icons-list div {
            width: 8em;
            height: 8em;
        }

        .font-12 {
            width: 100% !important;
            font-size: x-small;
            padding: 0.1em;
        }
    }

    @media screen and (max-width: 40em) {
        #icons-list {
            grid-template-columns: repeat(5, auto);
            grid-template-rows: repeat(2, auto);
        }

        #icons-list i {
            font-size: 3em;
        }

        #icons-list div {
            width: 7em;
            height: 7em;
        }

        .font-12 {
            width: 100% !important;
            font-size: x-small;
            padding: 0.1em;
        }
    }

    @media screen and (max-width: 35em) {
        #icons-list {
            grid-template-columns: repeat(4, auto);
            grid-template-rows: repeat(2, auto);
        }

        #icons-list i {
            font-size: 3em;
        }

        #icons-list div {
            width: 8em;
            height: 8em;
        }

        .font-12 {
            width: 100% !important;
            font-size: x-small;
            padding: 0.1em;
        }
    }

    @media screen and (max-width: 30em) {
        #icons-list {
            grid-template-columns: repeat(4, auto);
            grid-template-rows: repeat(2, auto);
        }

        #icons-list i {
            font-size: 3em;
        }

        #icons-list div {
            width: 8em;
            height: 8em;
        }

        .font-12 {
            width: 100% !important;
            font-size: x-small;
            padding: 0.1em;
        }
    }

    @media screen and (max-width: 25em) {
        #icons-list {
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(2, auto);
        }

        #icons-list i {
            font-size: 3em;
        }

        #icons-list div {
            width: 8em;
            height: 8em;
        }

        .font-12 {
            width: 100% !important;
            font-size: x-small;
            padding: 0.1em;
        }
    }

    @media screen and (max-width: 21em) {
        #icons-list {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
        }

        #icons-list i {
            font-size: 4em;
        }

        #icons-list div {
            width: 10em;
            height: 10em;
        }

        .font-12 {
            width: 100% !important;
            font-size: small;
            padding: 0.5em;
        }
    }

    .tooltip
    {
        position:absolute;
        background-color:black;
        border: 1px solid #aaaaca;
        font-size: smaller;
        padding:4px;
        width: 8em !important;
        text-align: center;
        color: white;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }