/*
Style for Anchor tag
*/
.noDecoration {
    text-decoration: none !important;
}

.noDecoration:link {
    text-decoration: none;
}

.noDecoration:visited {
    text-decoration: none;
}

.noDecoration:hover {
    text-decoration: none;
}

.noDecoration:active {
    text-decoration: none;
}

.noDecoration:focus  {
    text-decoration: none;
}

/*
commom width class
*/
.elementWidth {
    width: 100% !important;
}

.elementWidth45 {
    width: 45% !important;
}

.floatLeft {
    float: left !important;
}

/*
media Queries go here
*/
@media (min-width: 48em) {
  .slds-modal--medium .slds-modal__container {
        width: 60%;
        max-width: none;
        min-width: 40rem;
    }
}

/*
validation
*/
.error-occured {
    border-color: red !important;
}
.requiredField {
}

/*
Icons
*/
.iconSize {
    width: 1.5em !important;
    height: 1.5em !important;
}

.helpTextIcon {
    font-size: 1.3em !important;
    vertical-align: sub;
    color: #54698d;
}

.iconPadding {
    padding: .3em .3em .3em .3em !important;
}

/*
*/
.displayNone {
    display: none;
}

.noDisplayIcon {
    display: none !important;
}

.displayElement {
    display: block !important;
}

.whiteSpaceWrap {
    white-space: normal !important;
}

.textAlignCenter {
        text-align: center;
}

.verticalBaselineMiddle{
    vertical-align: -webkit-baseline-middle !important;
}

.buttonPadding {
    padding: 1rem 1rem 1rem 1rem;
}

.elementPadding {
    padding: .5rem .5rem .5rem .5rem !important;
}

.componentPadding {
    padding: 0.7rem 0.7rem 0.7rem 0.7rem !important;
}

.bottomPadding {
    padding-bottom: 1rem;
}

.marginBottom {
    margin-bottom : 1rem;
}

.marginTop {
    margin-top : 1rem;
}

.inputMarginLeft {
    margin-left: 2rem !important;
}

.inputSearchTextWidth {
    width: 35% !important;
}

.commentBox {
    max-height: 10rem;
    min-height: 10rem;
}

.activeLI {
    background-color: #f4f6f9;
}

.ProcessingBackground {
    background-color:#FFFFFF;
    opacity:0.85;
    filter:alpha(opacity = 50);
    width:100%;
    height:100%;
    position:fixed;
    z-index:9998;
    top:0;
    left:0;
}
.Processing {
    z-index:9999;
    width:96%;
    top:50%;
    text-align:center;
    position:fixed;
}
.ProcessingData {
    z-index:9999;
    left:53%;
    top:48%;
    text-align:center;
    position:fixed;
    font-weight:600;
}

.buttonGroups {
    margin-bottom: 2%;
}

/**
Data tables
*/
.tableHeader {
    width: 2.5em !important;
}
.disabledButttonPagination, .previous.disabled, .next.disabled, .first.disabled, .last.disabled{
    background-color: #fff!important;
    cursor: default!important;
    color: #d8dde6!important;
}

.selectedButtonPagination {
    background-color: #f4f6f9!important;
    color: #005fb2!important;
}

.paging_full_numbers {
    text-align: center;
}

.previousButtonPagination, .previous {
    margin-right: .25rem;
}

.nextButtonPagination, .next {
    margin-left: .25rem;
}

.errorPanel {
    position: inherit !important;
}
.errorPanelToast {
    width: 99% !important;
    background-color: #8b0000 !important;
}
.descriptionWidth {
    min-width: 300px !important;
    max-width: 300px !important;
}

.dont-break-out {
    white-space: pre-wrap !important; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap !important; /* Opera 4-6 */
    white-space: -o-pre-wrap !important; /* Opera 7 */
    word-wrap: break-word !important;
}
.cursorPointer {
    cursor: pointer !important;
}

.slds-is-sortable {
    cursor: pointer;
    padding: .5rem !important;
}

.filterTable {
    width: 50%;
}

.colorInherit {
    color: inherit !important;
}

.disableCursor {
    pointer-events: none;
}

.disableIcon {
    fill: #d0cbcb !important;
}