                .container {
                    width: 31%;
                    min-width: 31%;
                    max-width: 31%;
                    height: auto;
                }
                .floatLeft {
                    float: left;
                }
                .tableWidth {
                    width: 100%;
                }
                .displayNone {
                    display: none;
                }
                #checkBoxHolder {
                    z-index: 2;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    background-color: #ffffff;
                    margin-top: 2rem;
                }
                .width20Percent {
                    width: 20%;
                }
                .width80Percent {
                    width: 80%;
                }
                .paddingLeft {
                    padding-left: 1rem;
                }
                .paddingTop {
                    padding-top: 1rem;
                }
                .errorPanel {
                    position: inherit !important;
                }
                .errorPanelToast {
                    width: 99% !important;
                    background-color: #8b0000 !important;
                }
                .buttonGroups {
                    margin-bottom: 2%;
                }